<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AreaList</key>
	<array>
		<dict>
			<key>NO</key>
			<integer>1</integer>
			<key>Name</key>
			<string>北海道</string>
			<key>FriendsList</key>
			<array>
				<dict>
					<key>Age</key>
					<string>20</string>
					<key>Name</key>
					<string>ひでき</string>
					<key>Gender</key>
					<string>男</string>
					<key>NO</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Age</key>
					<string>20</string>
					<key>Name</key>
					<string>えみ</string>
					<key>Gender</key>
					<string>女</string>
					<key>NO</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>Age</key>
					<string>20</string>
					<key>Name</key>
					<string>ゆか</string>
					<key>Gender</key>
					<string>女</string>
					<key>NO</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>NO</key>
			<integer>2</integer>
			<key>Name</key>
			<string>青森県</string>
			<key>FriendsList</key>
			<array>
				<dict>
					<key>Age</key>
					<string>20</string>
					<key>Name</key>
					<string>えりこ</string>
					<key>Gender</key>
					<string>女</string>
					<key>NO</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>NO</key>
			<integer>3</integer>
			<key>Name</key>
			<string>岩手県</string>
			<key>FriendsList</key>
			<array>
				<dict>
					<key>Age</key>
					<string>27</string>
					<key>Name</key>
					<string>やすひろ</string>
					<key>Gender</key>
					<string>男</string>
					<key>NO</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>NO</key>
			<integer>4</integer>
			<key>Name</key>
			<string>秋田県</string>
			<key>FriendsList</key>
			<array/>
		</dict>
		<dict>
			<key>NO</key>
			<integer>5</integer>
			<key>Name</key>
			<string>宮城県</string>
			<key>FriendsList</key>
			<array/>
		</dict>
		<dict>
			<key>NO</key>
			<integer>6</integer>
			<key>Name</key>
			<string>山形県</string>
			<key>FriendsList</key>
			<array/>
		</dict>
		<dict>
			<key>NO</key>
			<integer>7</integer>
			<key>Name</key>
			<string>福島県</string>
			<key>FriendsList</key>
			<array>
				<dict>
					<key>Age</key>
					<string>31</string>
					<key>Name</key>
					<string>ゆか</string>
					<key>Gender</key>
					<string>女</string>
					<key>NO</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>NO</key>
			<integer>8</integer>
			<key>Name</key>
			<string>茨城県</string>
			<key>FriendsList</key>
			<array>
				<dict>
					<key>Age</key>
					<string>36</string>
					<key>Name</key>
					<string>ともこ</string>
					<key>Gender</key>
					<string>女</string>
					<key>NO</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>NO</key>
			<integer>1</integer>
			<key>Name</key>
			<string>北海道</string>
			<key>FriendsList</key>
			<array>
				<dict>
					<key>Age</key>
					<string>20</string>
					<key>Name</key>
					<string>ゆか</string>
					<key>NO</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>NO</key>
			<integer>1</integer>
			<key>Name</key>
			<string>北海道</string>
			<key>FriendsList</key>
			<array>
				<dict>
					<key>Age</key>
					<string>20</string>
					<key>Name</key>
					<string>ゆか</string>
					<key>NO</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>NO</key>
			<integer>1</integer>
			<key>Name</key>
			<string>北海道</string>
			<key>FriendsList</key>
			<array>
				<dict>
					<key>Age</key>
					<string>20</string>
					<key>Name</key>
					<string>ゆか</string>
					<key>NO</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
