<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrefectureList</key>
	<array>
		<dict>
			<key>No</key>
			<integer>1</integer>
			<key>Name</key>
			<string>北海道</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>2</integer>
			<key>Name</key>
			<string>青森県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>3</integer>
			<key>Name</key>
			<string>岩手県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>4</integer>
			<key>Name</key>
			<string>秋田県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>5</integer>
			<key>Name</key>
			<string>宮城県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>6</integer>
			<key>Name</key>
			<string>山形県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>7</integer>
			<key>Name</key>
			<string>福島県</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>けんいち</string>
				<string>ともこ</string>
				<string>みほ</string>
			</array>
			<key>No</key>
			<integer>8</integer>
			<key>Name</key>
			<string>茨城県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>9</integer>
			<key>Name</key>
			<string>栃木県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>10</integer>
			<key>Name</key>
			<string>群馬県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>11</integer>
			<key>Name</key>
			<string>埼玉県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>12</integer>
			<key>Name</key>
			<string>千葉県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>13</integer>
			<key>Name</key>
			<string>東京都</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>14</integer>
			<key>Name</key>
			<string>神奈川県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>15</integer>
			<key>Name</key>
			<string>新潟県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>16</integer>
			<key>Name</key>
			<string>富山県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>17</integer>
			<key>Name</key>
			<string>石川県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>18</integer>
			<key>Name</key>
			<string>福井県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>19</integer>
			<key>Name</key>
			<string>山梨県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>20</integer>
			<key>Name</key>
			<string>長野県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>22</integer>
			<key>Name</key>
			<string>静岡県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>23</integer>
			<key>Name</key>
			<string>愛知県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>24</integer>
			<key>Name</key>
			<string>三重県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>25</integer>
			<key>Name</key>
			<string>滋賀県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>26</integer>
			<key>Name</key>
			<string>京都府</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>27</integer>
			<key>Name</key>
			<string>大阪府</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>28</integer>
			<key>Name</key>
			<string>兵庫県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>21</integer>
			<key>Name</key>
			<string>岐阜県</string>
		</dict>
	</array>
</dict>
</plist>
